<a href="https://colab.research.google.com/github/jrw99/Deep-Learning/blob/main/AlphabetSoupCharity_Optimzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from google.colab import drive
drive.mount('/content/drive')

application_df = pd.read_csv("/content/drive/MyDrive/Homework/Deep-Learning/Resources/charity_data.csv")
application_df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

<h3>What variable(s) are considered the target(s) for your model?</h3>

Although STATUS and SPECIAL_CONSIDERATIONS are binary like IS_SUCCESSFUL, the purpose is to predict whether applicants will be successfull if funded.

<ul>
    <li>IS_SUCCESSFUL</li>
</ul>

<h3>What variable(s) are considered the feature(s) for your model?</h3>
<ul>
    <li>APPLICATION_TYPE</li>
    <li>AFFILIATION</li>
    <li>CLASSIFICATION</li>
    <li>USE_CASE</li>
    <li>ORGANIZATION</li>
    <li>INCOME_AMT</li>
    <li>ASK_AMT</li>
    <li>STATUS</li>
    <li>SPECIAL_CONSIDERATIONS</li>
</ul>

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
print(application_df.shape)
application_df.drop(['EIN','NAME'], axis=1, inplace=True)
print(application_df.shape)

(34299, 12)
(34299, 10)

In [8]:
# Determine the number of unique values in each column.
'''
for col in application_df:
    print(application_df[col].unique())
'''
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Going with T10 @ 528 to be the cuttoff.  Next is T9 which is 156 and all others after are less so grouping them all...
application_types_to_replace = []

for app, cnt in application_df.APPLICATION_TYPE.value_counts().iteritems():
    if cnt < 528:
        application_types_to_replace.append(app)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()> 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Going with c2100 @ 1883 to be the cuttoff.  Next is c7000 which is 777 and all others after are less so grouping them all...
classifications_to_replace = []

for cla, cnt in application_df.CLASSIFICATION.value_counts().iteritems():
    if cnt < 1883:
        classifications_to_replace.append(cla)

# Replace in dataframe
for cla in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cla,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
catColumns = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
catColumns

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
converted_df = pd.get_dummies(application_df, columns=catColumns)
converted_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [16]:
# Split our preprocessed data into our features and target arrays
X = converted_df.drop('IS_SUCCESSFUL', axis=1).values
y = converted_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = number_input_features  * 0.66
hidden_nodes_layer2 = number_input_features / 2

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                1232

 dense_1 (Dense)             (None, 21)                609

 dense_2 (Dense)             (None, 1)                 22

=================================================================
Total params: 1,863
Trainable params: 1,863
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5831 - accuracy: 0.7077
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7309
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7313
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7318
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7316
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7311
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7317
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7324
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7326
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7323
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7320
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7342
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7344
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7327
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7337
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7341
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7351
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7361
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7356
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7367
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7359
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7363
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7358
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7373
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7370
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7378

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5537 - accuracy: 0.7293 - 449ms/epoch - 2ms/step
Loss: 0.5537050366401672, Accuracy: 0.7293294668197632

In [23]:
# Export our model to HDF5 file
nn.save('/content/drive/MyDrive/Homework/Deep-Learning/AlphabetSoupCharity_Optimization.h5')